@charset "UTF-8";

html{
	margin: 0 auto;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
	margin:0 auto;
	padding: 0px;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}

a {
	border-radius: 10px;
	border:1px solid black;
	color: inherit;
	display:block;
	font-weight:bold;
	margin:10px auto;
	padding:2px;
	text-decoration: none;
	width:100px;
}

* {
	outline:none;
}

input{
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}

