@charset "UTF-8";

.header{
	background-color:#000000;
	color:#ffffff;
	display:flex;
	font-weight:bolder;
	justify-content:flex-end;
	align-items:center;
	padding-right:10px;
}

.header>p{
	display:flex;
	flex-direction:row;	
	justify-content:center;
	align-items:center;
}

.header>.nome{
	font-weight:normal;
	font-style: italic;
	text-transform:capitalize;
	margin:0px 4px;
}

.header .led{
	display:flex;
	border:none;
	border-radius:50%;
	margin:4px;
	width:10px;
	height:10px;
	background-color:#858585;
}

.header .greenled{
	background-color:#00ff00;
}

.header .redled{
	background-color:#ff0000;
}